aiohappyeyeballs==2.3.5
aiohttp==3.10.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.7.0
asgiref==3.8.1
attrs==24.2.0
beautifulsoup4==4.12.3
blis==0.7.11
bootstrap4==0.1.0
cachetools==5.5.0
camel_tools==1.5.5
catalogue==2.0.10
certifi==2024.7.4
cffi==1.17.1
channels==4.1.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.19.0
colorama==0.4.6
confection==0.1.5
cymem==2.0.8
dill==0.3.8
distlib==0.3.8
Django==5.0.6
django-allauth==65.1.0
django-bootstrap4==24.4
django-filter==24.3
django-phonenumber-field==8.0.0
django-redis==5.4.0
djangorestframework==3.15.2
docopt==0.6.2
editdistance==0.8.1
emoji==2.12.1
et-xmlfile==1.1.0
filelock==3.14.0
frozenlist==1.4.1
fsspec==2024.9.0
future==1.0.0
h11==0.14.0
huggingface-hub==0.24.6
idna==3.7
Jinja2==3.1.4
joblib==1.4.2
langcodes==3.4.0
language_data==1.2.0
lxml==5.3.0
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mpmath==1.3.0
muddler==0.1.3
multidict==6.0.5
murmurhash==1.0.10
mysqlclient==2.2.4
networkx==3.3
numpy==1.26.4
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
phonenumbers==8.13.40
phonenumberslite==8.13.40
pillow==10.3.0
platformdirs==4.2.2
preshed==3.0.9
pycparser==2.22
pydantic==2.9.0
pydantic_core==2.23.2
Pygments==2.18.0
PyJWT==2.9.0
pyrsistent==0.20.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.2
redis==5.0.8
regex==2024.7.24
requests==2.32.3
rich==13.8.0
safetensors==0.4.5
scikit-learn==1.5.1
scipy==1.14.1
selenium==4.25.0
setuptools==70.0.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.0
srsly==2.4.8
sympy==1.13.2
tabulate==0.9.0
text-unidecode==1.3
thinc==8.2.5
threadpoolctl==3.5.0
tokenizers==0.19.1
torch==2.4.1
tqdm==4.66.5
transformers==4.43.4
trio==0.27.0
trio-websocket==0.11.1
twilio==9.2.3
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.2
wasabi==1.1.3
weasel==0.4.1
websocket-client==1.8.0
wheel==0.43.0
whitenoise==6.8.2
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
